.mainsearch {
  margin-bottom: 1.25rem;
  &__input {
    width: 100%;
    height: 4.25rem;
    background-color: $color-bg;
    color: black;
    font-size: 1.125rem;
    font-weight: 400;
    padding-left: 1.375rem;
    padding-right: 3.5rem;
    @include boxshadow(1, 0.5);
    &:not(:focus) {
      @include text-ellipsis;
    }
    &:invalid {
      animation: invalid-tag 0.1s 4 both;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: calc(1rem + 15px); //15px = padding de bootstrap
    height: 2rem;
    transform: translateY(-50%);
  }
}
