.searchedtag {
  &:focus {
    outline: none;
  }
  justify-content: flex-start;
  &__wrapper {
    flex: 1 0 100%;
    position: relative;
    margin-bottom: 1.5rem;
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      flex: 1 0 0%;
    }
    @media only screen and (min-width: 1200px) {
      flex: 0 1 0;
      padding-right: 5px; //20px between components, 15px defaut padding from bootstrap
    }
  }
  &__input {
    width: 100%;
    min-width: 12.5rem;
    @media only screen and (min-width: 1200px) {
      width: 12.5rem;
    }
    height: 4.3125rem;
    padding: 0 2.25rem 0 1.625rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    @include boxshadow(1, 0.5);
    &:focus {
      box-shadow: unset;
    }
    &::placeholder {
      color: white;
    }
    &:focus {
      border-radius: 5px 5px 0 0;
      //JS gives the same width as the list
      padding-left: 1.125rem;
      + .searchedtag__icon {
        transform: translateY(calc(4.325rem / 2 - 50%)) rotateX(180deg);
      }
    }
    &:invalid {
      animation : invalid-tag 0.1s 4 both;
    }
  }
  &__icon {
    height: auto;
    width: 1rem;
    position: absolute;
    top: 0;
    right: calc(1.125rem + 15px); //15px = padding from bootstrap
    transform: translateY(calc(4.325rem / 2 - 50%)); //vertically aligned with input
    z-index: 10;
  }
  &__list {
    display: none;
    list-style: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    padding: 0.5rem 0.5rem 1.125rem 0.5rem;
    //position
    position : relative;
    top : -0.5rem;
    width: 100%;
    max-height: calc(60rem + 0.5rem + 0.625rem); //10 element + padding top and half of bottom
    @media only screen and (min-width: 1200px) {
      position: absolute;
      top: calc(100% - 0.5rem);
      left: 15px; //bootstrap padding
      z-index: 100;
      max-height: calc(20rem + 0.5rem + 1.125rem); //10 element + padding top and bottom
      max-width: calc(3 * 13.6125rem + 2 * 0.5rem); //3 buttons width + 2 paddings
      min-width: 13.6125rem; // one item width
      width: unset;
    }
    // grid template
    grid-template-rows: repeat(30, auto);
    grid-template-columns: repeat(1, 100%);
    grid-auto-flow: row;
    @media only screen and (min-width: 768px) {
      grid-template-rows: repeat(10, auto);
      grid-template-columns: repeat(3, 33.33%);
      grid-auto-flow: column;
    }
    &__item {
      background-color: inherit;
      height: 2rem;
      width: 100%;
      @media only screen and (min-width: 768px) and (max-width:1199px) {
        width: 33%;
      }
      @media only screen and (min-width: 1200px) {
        width: 13.6125rem;
      }
      &-hidden { //set via JS when typing in the tag search input
        display:none;
      }
    }
    &__button {
      height: 100%;
      padding: 0 0.75rem;
      text-align: left;
      font-size: 1.125rem;
      font-weight: 400;
      @include text-ellipsis;
      &:hover, &:focus {
        background-color: white;
        color: black;
      }
    }
  }
}
