@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@keyframes invalid-tag {
  25% {
    padding-left: 1rem;
  }
  75% {
    padding-left: 1.25rem;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

input {
  border: none;
  border-radius: 5px;
}
input:focus, input:hover {
  outline: none;
}

button {
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: inherit;
}
button:focus, button:hover {
  outline: none;
}

[data-category=ingredients] {
  background-color: #3282F7;
  color: white;
}

[data-category=ustensils] {
  background-color: #ED6454;
  color: white;
}

[data-category=appliances] {
  background-color: #68D9A4;
  color: white;
}

.hidden {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.header {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
.header__logo__wrapper {
  text-align: center;
}

.recipe {
  background-color: #E7E7E7;
  border-radius: 0.375rem;
  border: none;
  color: inherit;
  text-decoration: inherit;
  transition: box-shadow 0.25s;
}
.recipe:hover {
  color: inherit;
  text-decoration: inherit;
}
.recipe:hover, .recipe:focus {
  outline: none;
  box-shadow: 0 0 0.375rem 0.125rem black;
}
.recipe__grid__message {
  padding-left: 15px;
}
.recipe__wrapper {
  margin-bottom: 30px;
}
.recipe__img {
  border-radius: 0.375rem 0.375rem 0 0;
}
.recipe__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}
.recipe__title {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0;
  margin-right: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe__clock {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.recipe__clock::before {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  content: "";
  background: url("../img/icons/clock.svg") no-repeat 0 0;
  background-size: 100%;
  margin-right: 0.375rem;
}
.recipe__text {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  height: calc(7 * 0.75rem * 1.2);
}
.recipe__ingredients__list {
  list-style: none;
  margin-right: 0.25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.recipe__description {
  margin-left: 0.25rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
.mainsearch {
  margin-bottom: 1.25rem;
}
.mainsearch__input {
  width: 100%;
  height: 4.25rem;
  background-color: #E7E7E7;
  color: black;
  font-size: 1.125rem;
  font-weight: 400;
  padding-left: 1.375rem;
  padding-right: 3.5rem;
  transition: box-shadow 0.25s;
}
.mainsearch__input:hover, .mainsearch__input:focus {
  outline: none;
  box-shadow: 0 0 0.375rem 0.0625rem black;
}
.mainsearch__input:not(:focus) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mainsearch__input:invalid {
  animation: invalid-tag 0.1s 4 both;
}
.mainsearch__icon {
  position: absolute;
  top: 50%;
  right: calc(1rem + 15px);
  height: 2rem;
  transform: translateY(-50%);
}

.selectedtag {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
.selectedtag__button {
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.625rem 1.25rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 0.5rem;
}
.selectedtag__button:focus, .selectedtag__button:hover {
  text-decoration: underline solid white;
}
.selectedtag__button:focus::after, .selectedtag__button:hover::after {
  transform: rotate(360deg);
}
.selectedtag__button::after {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  content: "";
  background: url("../img/icons/close.svg") no-repeat 0 0;
  background-size: 100%;
  margin-left: 0.75rem;
  transition: transform 0.6s;
}

.searchedtag:focus {
  outline: none;
}
.searchedtag__wrapper {
  flex: 1 0 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .searchedtag__wrapper {
    flex: 1 0 0;
  }
}
@media only screen and (min-width: 1200px) {
  .searchedtag__wrapper {
    flex: 0 1 0;
    padding-right: 5px;
  }
}
.searchedtag__input {
  width: 100%;
  min-width: 12.5rem;
  height: 4.3125rem;
  padding: 0 2.25rem 0 1.625rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  transition: box-shadow 0.25s;
}
@media only screen and (min-width: 1200px) {
  .searchedtag__input {
    width: 12.5rem;
  }
}
.searchedtag__input:hover, .searchedtag__input:focus {
  outline: none;
  box-shadow: 0 0 0.375rem 0.0625rem black;
}
.searchedtag__input--noshadow:focus {
  box-shadow: unset;
}
.searchedtag__input--noshadow:hover {
  box-shadow: unset;
}
.searchedtag__input::placeholder {
  color: white;
}
.searchedtag__input:focus {
  padding-left: 1.125rem;
}
.searchedtag__input:invalid {
  animation: invalid-tag 0.1s 4 both;
}
.searchedtag__icon {
  height: auto;
  width: 1rem;
  position: absolute;
  top: 0;
  right: calc(1.125rem + 15px);
  transform: translateY(calc(4.325rem / 2 - 50%));
  z-index: 10;
}
.searchedtag__icon__image {
  width: 100%;
}
.searchedtag__icon--opened img {
  transform: rotateX(180deg);
}
.searchedtag__grid {
  display: none;
  list-style: none;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  padding: 0.5rem 0.5rem 1.25rem 0.5rem;
  position: absolute;
  top: calc(100% - 0.5rem);
  left: 15px;
  z-index: 100;
  max-height: calc(30 * 2rem + 0.5rem + 1.25rem / 2);
  width: calc(100% - 2 * 15px);
  grid-template-rows: repeat(30, auto);
  grid-template-columns: repeat(1, 100%);
  grid-auto-flow: row;
}
.searchedtag__grid--visible {
  display: grid;
}
@media only screen and (min-width: 1200px) {
  .searchedtag__grid {
    max-height: calc(10 * 2rem + 0.5rem + 1.25rem);
    max-width: calc(3 * 13.6125rem + 2 * 0.5rem);
    min-width: 13.6125rem;
    width: unset;
  }
}
@media only screen and (min-width: 1200px) {
  .searchedtag__grid {
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(3, minmax(auto, 33.33%));
    grid-auto-flow: column;
  }
}
.searchedtag__grid__item {
  background-color: inherit;
  height: 2rem;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .searchedtag__grid__item {
    width: 13.6125rem;
  }
}
.searchedtag__grid__item--hidden {
  display: none;
}
.searchedtag__grid__button {
  height: 100%;
  width: 100%;
  padding: 0 0.75rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.searchedtag__grid__button:hover, .searchedtag__grid__button:focus {
  background-color: white;
  color: black;
}
.searchedtag__grid__message {
  width: 100%;
  height: 2rem;
  padding: 0 0.75rem;
  white-space: nowrap;
  font-style: italic;
}

.goback {
  padding: 4rem;
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
