.color {
  &__ingredients {
    background-color: $color-ingredients;
    color: white;
  }
  &__ustensils {
    background-color: $color-ustensils;
    color: white;
  }
  &__appliance {
    background-color: $color-appliance;
    color: white;
  }
}
