*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

input {
  border: none;
  border-radius: 5px;
  &:focus,
  &:hover {
    outline: none;
  }
}

button {
  border: none;
  border-radius: 5px;
  color: inherit;
  background-color: inherit;
  &:focus,
  &:hover {
    outline: none;
  }
}
