@mixin text-ellipsis($wrap: nowrap) {
  white-space: $wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin paragraph-ellipsis($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

@mixin link-nostyle {
  color: inherit;
  text-decoration: inherit;
  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

@mixin boxshadow($blur:1, $spread:1) {
  transition: box-shadow 0.25s;
  &:hover,&:focus {
    outline: none;
    box-shadow: 0 0 $blur*0.375rem $spread*0.125rem black;
  }
}